<!DOCTYPE html>
<html lang="en">

<head>
  <!-- meta data for social media and tracking -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <!-- ion icons -->
  <script type="module" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule="" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.js"></script> 

  <!-- fonts -->
  <link href="https://fonts.googleapis.com/css?family=Livvic:200,200i,400,400i,700&display=swap" rel="stylesheet">

  <!-- CSS -->
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" type="text/css" media="screen and (max-width: 768px)" href="/styles/small.css"  title="no title" charset="utf-8" />
  <link rel="stylesheet" type="text/css" media="screen and (min-width: 769px)" href="/styles/medium.css"  title="no title" charset="utf-8" />
  <link rel="stylesheet" type="text/css" media="screen and (min-width: 1025px)" href="/styles/large.css"  title="no title" charset="utf-8" />

  <!-- Title -->
  <title>getHashSet</title>

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-K7R28KJ');</script>
  <!-- End Google Tag Manager -->

</head>

  <body>
    
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K7R28KJ"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {{{body}}}


  </body>

</html>
