<div id="main">

    {{!--              --}}
    {{!--      nav     --}}
    {{!--              --}}

    <nav class="nav_menu">
        <div>
            <span>getHashSet.com</span>

            <div id="login">
                <input id="user_name" type="text" placeholder="email" tabindex="1">
                <input id="password" type="password" placeholder="password" tabindex="2">
                <span id="login_button" tabindex="3">
                    <ion-icon id="ion-icon_button" name="ios-thumbs-up" tabindex="-1"></ion-icon>
                </span>
            </div>

            <span id="menu_button">
                <ion-icon name="ios-arrow-up"></ion-icon>
            </span>
        </div>
    </nav>

    {{!--              --}}
    {{!-- hero section --}}
    {{!--              --}}

    <header id="hero">

        <div id="pixel_board"></div>

        <div>
            <h1></h1>
            <h2>Design &VerticalLine; FrontEnd &VerticalLine; BackEnd </h2>
        </div>

    </header>

    <div class="accessability">

        {{!-- menu for accessability --}}

    </div>

    {{!--              --}}
    {{!--  chapter 1   --}}
    {{!--              --}}

    <section id="c1" class="chapter">
        <div id="projects">

            <h2>Projects</h2>

            {{!-- project cards are built using javascript see project_cards.js --}}

        </div>

        <div class="block_bottom"></div>

        <div class="side_menu">
            <div class="quote side_menu_item" section="projects">
                <ion-icon name="quote"></ion-icon>
            </div>
            <div class="info side_menu_item">
                <ion-icon name="settings"></ion-icon>
            </div>
        </div>

    </section>

    {{!--              --}}
    {{!--  chapter 2   --}}
    {{!--              --}}

    <section id="c2" class="chapter">

        {{!-- build this blockquote inside blockquote.js --}}
        <div class="background_quote">
            <ion-icon name="quote"></ion-icon>
        </div>

        <blockquote>
            <span>I would love to talk about</span>
            <span>
                <span id="blockquote" class="typewrite" data-period="2000"
                    data-type='[ "HTML5", "CSS3", "javascript" ]'></span>
            </span>
        </blockquote>

        <div class="side_menu">
            <div class="quote side_menu_item" section="skills">
                <ion-icon name="quote"></ion-icon>
            </div>
            <div class="info side_menu_item">
                <ion-icon name="settings"></ion-icon>
            </div>
        </div>

    </section>

    {{!--              --}}
    {{!--  chapter 3   --}}
    {{!--              --}}

    <section id="c3" class="chapter">

        {{!-- frameworks and libraries  --}}

        {{!-- <div class="card_wrap">
            <div class="img_wrap">
                <div class="place_img_here"></div>
            </div>
            <div class="info">
               <div class="title_links">
                   <h2>Title</h2>
                   <ul>
                       <li><span><ion-icon name="eye"></ion-icon></span></li>
                        <li><span><ion-icon name="star"></ion-icon></span></li>
                        <li><span><ion-icon name="ios-git-network"></ion-icon></span></li>
                        <li><span><ion-icon name="ios-git-commit"></ion-icon></span></li>
                        <li><span><ion-icon name="ios-link"></ion-icon></span></li>
                        <li><span><ion-icon name="ios-construct"></ion-icon></span></li>
                   </ul>
               </div>
               <p class="about"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur placeat error obcaecati, in cumque deleniti ratione culpa voluptatum ut atque mollitia veniam qui? Voluptate ex ipsum, quae consequuntur perspiciatis doloremque! </p>
            </div>
        </div> --}}

    </section>

    {{!--              --}}
    {{!--  chapter 4   --}}
    {{!--              --}}

    <section id="c4" class="chapter">

        <div class="block_top">

        </div>

        {{!-- github API calls, Scrape github.com/getHashSet --}}
        {{!-- commit box --}}
        {{!-- recent projects (QR code API) --}}
        {{!-- recent comment --}}

        <div class="github">

            <div class="git_input_field">
                <span id="git_search">
                    <ion-icon name="ios-search"></ion-icon>
                </span>
                <input id="git_input" type="text" value="getHashSet" placeholder="GitHub Username">
                <span id="clear">
                    <ion-icon name="close"></ion-icon>
                </span>
            </div>

            <div class="git_id">
                <div id="git_pic" class="img_warp"></div>
                <div id="git_buttons">
                    <span id="git_link_icon"></span>
                    <span id="git_friends_icon"></span>
                    <span></span>
                    <span></span>
                </div>
                <p class="bio"></p>
            </div>

            <div id="git_blocks">

            </div>

            <div class="section_break">
                <h3>Pinned Projects</h3>
            </div>

            <div id="git_pinned_items">

            </div>

        </div>

        <div class="side_menu">
            <div class="quote side_menu_item" section="git">
                <ion-icon name="quote"></ion-icon>
            </div>
            <div class="info side_menu_item">
                <ion-icon name="settings"></ion-icon>
            </div>
        </div>

    </section>

    {{!--              --}}
    {{!--  chapter 5   --}}
    {{!--              --}}

    <section id="c5" class="chapter">

        <h2>Work History</h2>

        <div id="bestbuy" class="history_card">
            <div class="info_2007"></div>
            <div class="info_wrap">
                <h3>Best Buy</h3>
                <h4>2007-2011</h4>
                <p>Worked closely with the director of tools and utilities, and the software development team to design
                    and develop an internal data tracking tool for Retail. Best Buy for Business employee's also had the
                    privilege to work directly with clients on large orders and even had on-site responsibilities</p>
            </div>
        </div>

        <div id="apple" class="history_card">
            <div class="info_2011"></div>
            <div class="info_wrap">
                <h3>Apple</h3>
                <h4>2011-2019</h4>
                <p>Apple Certified technicians have the privilege to evaluate, isolate, and resolve technical issues
                    with end user products, as well as internal systems. The demanding pace, visibility, and frequent
                    updates to both the hardware and software of this role have provided me the opportunity to honed my
                    intellectual horsepower without a sacrifice to my soft skills. </p>
            </div>
        </div>

        <div id="madden_media" class="history_card ">
            <div class="info_2019"></div>
            <div class="info_wrap">
                <h3>Madden Media</h3>
                <h4>2019-now</h4>
                <p>As a Front-End Web Developer I have the opportunity to work with a variety of different web
                    application tools. Everything from CMS's, SCSS, Google Analytics, to SQL databases and even
                    components that handle state.</p>
            </div>
        </div>

        <div class="timeline_box">

            <div class="timeline">
                <div id="year_2007" class="time_box">
                    <div>
                        <div class="small_frame spinning_fast">
                            <div class="med_frame spinning_odd_1">
                                <div class="large_frame spinning_super_odd_3"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="year_2011" class="time_box">
                    <div>
                        <div class="small_frame spinning_slow">
                            <div class="med_frame spinning_super_slow">
                                <div class="large_frame spinning_odd_2"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="year_2019" class="time_box">
                    <div>
                        <div class="small_frame spinning_odd_1">
                            <div class="med_frame spinning_fast">
                                <div class="large_frame spinning_super_slow"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        {{!-- scroll magic section with code blocks --}}

        <div class="side_menu">
            <div class="quote side_menu_item" section="history">
                <ion-icon name="quote"></ion-icon>
            </div>
            <div class="info side_menu_item">
                <ion-icon name="settings"></ion-icon>
            </div>
        </div>

    </section>

    {{!--              --}}
    {{!--  chapter 6   --}}
    {{!--              --}}

    <section id="c6" class="chapter">

        {{!-- left side menu pop out BACK TO TOP --}}

        {{!-- Google Analytics  --}}
        {{!-- ads --}}
        {{!-- marketing --}}

        <div id="about_me" class="magic_pin_1">

            <div id="about_family" class="about_section">
                <h2>Family Man</h2>
                <p>I love my family.</p>
            </div>
            <div id="about_edu" class="about_section">
                <h2>Coding</h2>
                <p>I code in MERN and VR, Thank you Trillogy</p>
            </div>

        </div>

        <div class="side_menu">
            <div class="quote side_menu_item" section="readme">
                <ion-icon name="quote"></ion-icon>
            </div>
            <div class="info side_menu_item">
                <ion-icon name="settings"></ion-icon>
            </div>
        </div>

    </section>

    {{!--              --}}
    {{!--  chapter 7   --}}
    {{!--              --}}

    <section id="c7" class="chapter">

        {{!-- Contact Me --}}

        <h2>
            My Card
        </h2>

        <h2>
            Resume
        </h2>

        <div class="sub_title">
            <h3>
                Let's connect! Using the options to the left you can find ways to reach out to me about your project. To
                access a printable version of my resume all you need to do is enter your email address and name in
                section below.
            </h3>
            <h3>
                Looking for a copy of my resume? Enter your email address and name/company name below to gain access.
            </h3>
        </div>


        <div class="business_card">
            <div class="qr_code">
                <img id="qr_code"
                    src="https://api.qrserver.com/v1/create-qr-code/?size=120x120&data=https://linkedin.com/in/matthewcarpenter22"
                    alt="qr-data">
            </div>
            <div class="bc_wrap">
                <div class="bc_name">Matthew Carpenter</div>
                <div class="bc_info_1"><a href="mailto:matthew@getHashSet.com?subject=Let's Connect!&body=Hello,"
                        target="_blank" rel="noopener noreferrer">matthew@getHashSet.com</a></div>
                <div class="bc_info_2">Use your mobile device to scan the QR code!</div>
            </div>
        </div>

        {{!-- <div class="contact_input">
            <form class="contact_wrap">

                <input type="text" placeholder="Name" />
                <input type="text" placeholder="Email address" />
                <input type="text" placeholder="Subject" />
                <input type="text" placeholder="Your message" />

                <span>
                    <div class="input_button">Send Message</div>
                </span>

            </form>
        </div> --}}

        {{!-- <p>
            To view the printable version of my resume just enter your information above.
            And that will unlock the next section.
        </p> --}}

        <div class="locked_section">
            <span>
                <ion-icon name="ios-lock"></ion-icon>
            </span>
            <input id="email_input" type="email" placeholder="Email address" />
            <input id="name_input" type="text" placeholder="Name or Company Name" />
            <div>
                <div class="input_button"> Unlock </div>
            </div>
        </div>


        {{!-- social media --}}
        <div class="social_wrap">
            <div class="social social_mail">
                <ion-icon name="ios-mail"></ion-icon>
            </div>

            <div class="social social_link">
                <ion-icon name="ios-link"></ion-icon>
            </div>

            <div class=" social social_linkedin">
                <ion-icon name="logo-linkedin"></ion-icon>
            </div>

            <div class="social social_github">
                <ion-icon name="logo-github"></ion-icon>
            </div>

            <div class=" social social_codepen">
                <ion-icon name="logo-codepen"></ion-icon>
            </div>
        </div>

        <div class="side_menu">
            <div class="quote side_menu_item" section="contact">
                <ion-icon name="quote"></ion-icon>
            </div>
            <div class="info side_menu_item">
                <ion-icon name="settings"></ion-icon>
            </div>
        </div>


    </section>

    {{!--              --}}
    {{!--  chapter 8   --}}
    {{!--              --}}

    <section id="c8" class="chapter">

        {{!-- locked --}}

        <div id="hidden_section">

            <div class="resume_wrap">
                <img id="resume_image" alt="blured resume" src="http://gethashset.com/files/Matthew_Carpenter_Resume.pdf" />
            </div>

            <div class="resume_save_options">
                <div id="download"><a href="https://matthewcarpenter.herokuapp.com/images/Matthew_Carpenter_Resume.pdf" download="matthew_resume">
                        <ion-icon name="ios-save"></ion-icon>
                    </a></div>
                <div id="print">
                    <ion-icon name="ios-print"></ion-icon>
                </div>
                <div id="email"><a>
                        <ion-icon name="ios-mail"></ion-icon>
                    </a></div>
            </div>

        </div>

        {{!-- Email to Unlock --}}
        {{!-- linkedin --}}
        {{!-- email form --}}
        {{!-- stack overflow --}}
        {{!-- github --}}
        {{!-- gitlab --}}

    </section>

</div>

{{!--              --}}
{{!--    Toast     --}}
{{!--              --}}

<div id="toast"></div>
<div id="toast_data">
    <div class="close_button">
        <ion-icon name="close"></ion-icon>
    </div>
    <div class="toast_html">
        {{!-- loaded via index.js file --}}
    </div>
</div>

<!-- jQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- ScrollMagic GSAP -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.js"></script>
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.js"></script>

<!-- javascript -->
<script src="/js/index.js"> // root js file </script>
<script src="/js/blockquote.js"> // used in chapter 2 </script>
<script src="/js/konami.js"> // for log-in used in chapter 8 </script>
<script src="/js/git.js"> // for Github API calls  in chapter 4 </script>
<script src="/js/project_cards.js"> // used to build out project cards in chapter 1 </script>
<script src="https://cdn.jsdelivr.net/npm/jdenticon@2.2.0"></script>
<script src="/js/about_me.js"> // about me scroller </script>
<script src="/js/animation_station.js"> // animations for index </script>
<script src="/js/hidden_section.js"> // input validation using RegEx </script>