<div id="main">

    {{!--              --}}
    {{!--      nav     --}}
    {{!--              --}}

    <nav class="nav_menu">
        <div>
            <span>getHashSet.com</span>
            <span><ion-icon name="ios-arrow-down"></ion-icon></span>
        </div>
    </nav>

    {{!--              --}}
    {{!-- hero section --}}
    {{!--              --}}
    
    <header id="hero">
        <div id="pixel_board">
          
        </div>
        <div>
            <h2>Design &VerticalLine; FrontEnd &VerticalLine; BackEnd </h2>
            <h1> Matthew <span> Carpenter </span></h1>
        </div>

    </header>
    
    <div class="accessability">
        
        {{!-- menu for accessability --}}

    </div>

    {{!--              --}}
    {{!--  chapter 1   --}}
    {{!--              --}}

    <section id="c1" class="chapter">
        <div id="projects">

        <h2>Projects</h2>

            {{!-- project cards are built using javascript see project_cards.js --}}

        </div>
    </section>
    
    {{!--              --}}
    {{!--  chapter 2   --}}
    {{!--              --}}
    
    <section id="c2" class="chapter">

        {{!-- build this blockquote inside blockquote.js --}}
        <div>
            <ion-icon name="quote"></ion-icon>
        </div>
        <blockquote>
            <span>
                I would love to talk about &MediumSpace;
                <span id="blockquote" class="typewrite" data-period="2000"
                    data-type='[ "HTML5", "CSS3", "javascript", "Node.js", "SQL" ]'>
                    <span class="wrap"></span>
                </span>
            </span>
        </blockquote>

    </section>
        
    {{!--              --}}
    {{!--  chapter 3   --}}
    {{!--              --}}
    
    <section id="c3" class="chapter">

        {{!-- frameworks and libraries  --}}

    </section>
        
    {{!--              --}}
    {{!--  chapter 4   --}}
    {{!--              --}}
    
    <section id="c4" class="chapter">

        {{!-- github API calls, Scrape github.com/getHashSet --}}
        {{!-- commit box --}}
        {{!-- recent projects (QR code API) --}}
        {{!-- recent comment --}}

        <div class="github">

            <div class="git_input_field">
                <span id="git_search">
                    <ion-icon name="ios-search"></ion-icon>
                </span>
                <input id="git_input" type="text" value="getHashSet" placeholder="GitHub Username">       
            </div>
           
            <div>
                <div id="git_pic"  class="img_warp">
                </div>
            </div>

        </div>

    </section>

    {{!--              --}}
    {{!--  chapter 5   --}}
    {{!--              --}}
    
    <section id="c5" class="chapter">

        <div class="blocker">
            <div><ion-icon name="ios-lock"></ion-icon></div>
        </div>

        {{!-- scroll magic section with code blocks --}}

    </section>
    
    {{!--              --}}
    {{!--  chapter 6   --}}
    {{!--              --}}
    
    <section id="c6" class="chapter">

        {{!-- left side menu pop out BACK TO TOP --}}

        {{!-- Google Analytics  --}}
        {{!-- ads --}}
        {{!-- marketing --}}

    </section>

    {{!--              --}}
    {{!--  chapter 7   --}}
    {{!--              --}}

    <section id="c7" class="chapter">

        {{!-- About Me --}}

    </section>    
    
    {{!--              --}}
    {{!--  chapter 8   --}}
    {{!--              --}}
    
    <section id="c8" class="chapter">

        {{!-- locked --}}

        {{!-- Email to Unlock --}}
        {{!-- linkedin --}}
        {{!-- email form --}}
        {{!-- stack overflow --}}
        {{!-- github --}}
        {{!-- gitlab --}}

    </section>

</div>

<!-- jQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- ScrollMagic GSAP -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.js"></script>

<!-- javascript -->
<script src="/js/index.js"> // primary animations in index.js </script>
<script src="/js/blockquote.js"> // used for chapter 2 </script>
<script src="/js/konami.js"> // for log in</script>
<script src="/js/git.js"> // for Github API calls </script>
<script src="/js/project_cards.js"> // used to build out project cards in chapter 1</script>
