<div id="main">

    {{!--              --}}
    {{!--      nav     --}}
    {{!--              --}}

    <nav class="nav_menu">
        <div>
            <span>getHashSet.com</span>

            <div id="login">
                <input id="user_name" type="text" placeholder="email" tabindex="1">
                <input id="password" type="password" placeholder="password" tabindex="2">
                <span id="login_button" tabindex="3">
                    <ion-icon id="ion-icon_button" name="ios-thumbs-up" tabindex="-1"></ion-icon>
                </span>
            </div>

            <span id="menu_button">
                <ion-icon name="ios-arrow-up"></ion-icon>
            </span>
        </div>
    </nav>

    {{!--              --}}
    {{!-- hero section --}}
    {{!--              --}}

    <header id="hero">
        <div id="pixel_board">

        </div>
        <div>
            <h2>Design &VerticalLine; FrontEnd &VerticalLine; BackEnd </h2>
            <h1> Matthew <span> Carpenter </span></h1>
        </div>

    </header>

    <div class="accessability">

        {{!-- menu for accessability --}}

    </div>

    {{!--              --}}
    {{!--  chapter 1   --}}
    {{!--              --}}

    <section id="c1" class="chapter">
        <div id="projects">

            <h2>Projects</h2>

            {{!-- project cards are built using javascript see project_cards.js --}}

        </div>

        <div class="block_bottom">

        <div class="info">
            <ion-icon name="quote"></ion-icon>
        </div>

    </section>

    {{!--              --}}
    {{!--  chapter 2   --}}
    {{!--              --}}

    <section id="c2" class="chapter">

        {{!-- build this blockquote inside blockquote.js --}}
        <div>
            <ion-icon name="quote"></ion-icon>
        </div>

        <blockquote>
            <span>I would love to talk about &thinsp; </span>
            <span>
                <span id="blockquote" class="typewrite" data-period="2000"
                    data-type='[ "HTML5", "CSS3", "javascript" ]'></span>
            </span>
        </blockquote>

        <div class="info">
            <ion-icon name="quote"></ion-icon>
        </div>

    </section>

    {{!--              --}}
    {{!--  chapter 3   --}}
    {{!--              --}}

    <section id="c3" class="chapter">

        {{!-- frameworks and libraries  --}}

    </section>

    {{!--              --}}
    {{!--  chapter 4   --}}
    {{!--              --}}

    <section id="c4" class="chapter">

        <div class="block_top">

        </div>

        {{!-- github API calls, Scrape github.com/getHashSet --}}
        {{!-- commit box --}}
        {{!-- recent projects (QR code API) --}}
        {{!-- recent comment --}}

        <div class="github">

            <div class="git_input_field">
                <span id="git_search">
                    <ion-icon name="ios-search"></ion-icon>
                </span>
                <input id="git_input" type="text" value="getHashSet" placeholder="GitHub Username">
                <span id="clear">
                    <ion-icon name="close"></ion-icon>
                </span>
            </div>

            <div class="git_id">
                <div id="git_pic" class="img_warp">
                </div>
                <p class="bio"></p>
            </div>

            <div id="git_blocks">

            </div>

            <div id="git_pinned_items">

            </div>

        </div>

        <div class="info">
            <ion-icon name="quote"></ion-icon>
        </div>

    </section>

    {{!--              --}}
    {{!--  chapter 5   --}}
    {{!--              --}}

    <section id="c5" class="chapter">

        <h2>Work History</h2>

        <div class="timeline_box">
            <div class="timeline">
                <div id="year_2007" class="time_box">
                    <div>
                        <div class="line_up"></div>
                        <div class="large_frame">
                            <div class="med_frame">
                                <div class="small_frame"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="year_2011" class="time_box">
                    <div>
                        <div class="line_down"></div>
                        <div class="small_frame">
                            <div class="med_frame">
                                <div class="large_frame"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="year_2019" class="time_box">
                    <div>
                        <div class="line_up"></div>
                        <div class="small_frame">
                            <div class="med_frame">
                                <div class="large_frame"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{!-- scroll magic section with code blocks --}}

        <div class="info">
            <ion-icon name="quote"></ion-icon>
        </div>

    </section>

    {{!--              --}}
    {{!--  chapter 6   --}}
    {{!--              --}}

    <section id="c6" class="chapter">

        {{!-- left side menu pop out BACK TO TOP --}}

        {{!-- Google Analytics  --}}
        {{!-- ads --}}
        {{!-- marketing --}}

        <div id="about_me" class="magic_pin_1">

            <div id="about_family" class="about_section">
                <h2>Family Man</h2>
                <p>I love my family.</p>
            </div>
            
        </div>

        <div class="info">
            <ion-icon name="quote"></ion-icon>
        </div>

    </section>

    {{!--              --}}
    {{!--  chapter 7   --}}
    {{!--              --}}

    <section id="c7" class="chapter">

        {{!-- About Me --}}

    </section>

    {{!--              --}}
    {{!--  chapter 8   --}}
    {{!--              --}}

    <section id="c8" class="chapter">

        {{!-- locked --}}

        {{!-- Email to Unlock --}}
        {{!-- linkedin --}}
        {{!-- email form --}}
        {{!-- stack overflow --}}
        {{!-- github --}}
        {{!-- gitlab --}}

    </section>

</div>

<!-- jQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- ScrollMagic GSAP -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.js"></script>
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.js"></script>

<!-- javascript -->
<script src="/js/index.js"> // root js file </script>
<script src="/js/blockquote.js"> // used in chapter 2 </script>
<script src="/js/konami.js"> // for log-in used in chapter 8 </script>
<script src="/js/git.js"> // for Github API calls  in chapter 4 </script>
<script src="/js/project_cards.js"> // used to build out project cards in chapter 1 </script>
<script src="https://cdn.jsdelivr.net/npm/jdenticon@2.2.0"></script>
<script src="/js/about_me.js"> // about me scroller </script>
<script src="/js/animation_station.js"> // animations for index </script>