#hero {
  background-attachment: inherit; }

#hero div h1 {
  line-height: .7em;
  display: inline-block;
  margin: .3em 0; }
  #hero div h1 span {
    line-height: .3em;
    font-size: .5em; }
  #hero div h1 #name_space {
    display: block; }

#c4 .github .git_input_field {
  width: 85%;
  margin: 2.5em .5em;
  font-size: .85em; }

#c4 .github .git_pinned_items {
  overflow: scroll; }

#c4 .side_menu {
  z-index: 32; }

#c5 {
  height: 100vh; }
  #c5 h2 {
    font-size: 2em;
    width: 100%;
    text-align: center; }

#c7 .business_card {
  display: none; }

.social_wrap {
  display: none; }

svg {
  overflow: visible;
  margin-right: 100%;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9); }
