#hero {
  background-attachment: inherit; }

#hero div h1 {
  line-height: .7em;
  display: inline-block;
  margin: .3em 0; }
  #hero div h1 span {
    line-height: .3em;
    font-size: .5em; }
  #hero div h1 #name_space {
    display: block; }

#c4 .github .git_input_field {
  width: 85%;
  margin: 2.5em .5em;
  font-size: .85em; }

#c4 .github .git_pinned_items {
  overflow: scroll; }

#c4 .side_menu {
  z-index: 32; }

#c5 {
  height: auto;
  min-height: 100vh; }
  #c5 h2 {
    margin-top: 2em;
    position: relative;
    font-size: 2em;
    width: 100%;
    text-align: center; }
  #c5 #apple,
  #c5 #madden_media,
  #c5 #bestbuy {
    position: relative;
    height: 300px;
    left: 0;
    top: 0;
    margin: 1em; }
  #c5 .timeline_box {
    display: none; }

#c7 .business_card {
  display: none; }

#c7 h2:first-child {
  display: none; }

#c7 h2:nth-child(2) {
  display: block; }

#c7 .sub_title h3:first-child {
  display: none; }

#c7 .sub_title h3:last-child {
  display: block; }

#c8 #hidden_section .resume_wrap {
  margin-top: 7.5em; }

.social_wrap {
  display: none; }

svg {
  overflow: visible;
  margin-right: 100%;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9); }
