/* by Matthew Carpenter */
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,400,400i,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Livvic", sans-serif; }

section {
  position: relative; }

nav {
  color: #fff;
  background-color: rgba(45, 52, 54, 0.7);
  border: 1px solid rgba(45, 52, 54, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 20px;
  padding: 1em 0;
  z-index: 99;
  -webkit-transform: translateY(-101%);
  -ms-transform: translateY(-101%);
  transform: translateY(-101%);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s; }
  nav div {
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: 1em; }
    nav div span:first-child {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      position: absolute;
      left: 0; }
    nav div span:last-child {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      position: absolute;
      right: 0;
      bottom: 0; }
    nav div span:last-child:hover {
      cursor: pointer; }
    nav div span:last-child:active {
      -webkit-transform: translateY(4px);
      -ms-transform: translateY(4px);
      transform: translateY(4px); }
    nav div #login {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      nav div #login input {
        border: none;
        background: none;
        color: #fff;
        border-bottom: 1px solid #ecf0f1;
        width: 30%;
        margin: 0 1em; }
      nav div #login input:focus {
        outline: 2px solid #ecf0f1;
        outline-offset: 4px; }
      nav div #login span {
        position: relative;
        display: inline-block;
        color: #fff; }
        nav div #login span ion-icon {
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none; }
        nav div #login span ion-icon:focus {
          outline: none; }
      nav div #login span:focus {
        outline: 2px solid #fff;
        outline-offset: 4px; }

#hero {
  min-height: 100vh;
  background-image: url(../../images/person-in-front-of-laptop-on-brown-wooden-table-2115217.jpg);
  background-attachment: fixed;
  background-position: top right;
  background-size: cover;
  color: #fff; }
  #hero div {
    position: absolute;
    bottom: 10%;
    left: 5%; }
    #hero div h1 {
      font-size: 5em;
      font-weight: 700; }
      #hero div h1 span {
        font-size: 1em;
        display: inline-block; }
    #hero div h2 {
      font-size: 1.4em; }
  #hero #pixel_board {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    opacity: 65%;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background-image: url("../../images/colors_4k.png");
    background-position: center top;
    background-size: cover auto; }

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

#c1,
#c2,
#c3,
#c4,
#c5 {
  overflow: hidden; }

#c1 {
  background-color: #f1f1f1;
  min-height: 500px; }
  #c1 h2:first-child {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 2em;
    width: 25%;
    line-height: 1.5em;
    margin: 0 0 .5em 0;
    color: #95a5a6;
    text-transform: uppercase;
    font-weight: 700;
    border-bottom: 1px solid;
    -webkit-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s; }
  #c1 h2:first-child:hover {
    width: 100%; }
  #c1 #projects {
    width: 100%;
    max-width: 1200px;
    padding: 2em 1em; }
    #c1 #projects .deck {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 160px;
      z-index: 2; }
      #c1 #projects .deck .card {
        position: relative;
        width: 30%;
        min-width: 300px;
        height: 300px;
        background-color: #fff;
        margin: 1%;
        z-index: 3;
        -webkit-box-shadow: 1px 2px 4px;
        box-shadow: 1px 2px 4px;
        overflow: hidden;
        opacity: 0;
        -webkit-transform: translateY(300px);
        -ms-transform: translateY(300px);
        transform: translateY(300px); }
        #c1 #projects .deck .card .card_art {
          position: absolute;
          left: 0;
          top: 0;
          background-position: center center;
          background-size: cover;
          width: 100%;
          height: 100%; }
        #c1 #projects .deck .card h2,
        #c1 #projects .deck .card h3,
        #c1 #projects .deck .card p,
        #c1 #projects .deck .card div {
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          position: relative; }
        #c1 #projects .deck .card h2 {
          text-shadow: 1px 1px #2d3436;
          color: #fff;
          font-weight: 900;
          position: absolute;
          bottom: 0;
          left: 0;
          margin: 1em .5em;
          font-size: 2em;
          z-index: 20; }
        #c1 #projects .deck .card h3 {
          position: absolute;
          bottom: .5em;
          left: .5em;
          color: #fff;
          z-index: 23; }
          #c1 #projects .deck .card h3 span {
            padding: 0 .5em;
            border-left: 1px solid #fff;
            text-shadow: 2px 2px 2px #2d3436; }
          #c1 #projects .deck .card h3 span:first-child {
            border: none; }
        #c1 #projects .deck .card .hover_info {
          background-color: rgba(230, 126, 34, 0.7);
          width: 100%;
          height: 300px;
          position: absolute;
          left: 0;
          bottom: 0;
          font-size: 1.2em;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: start;
          -ms-flex-align: start;
          align-items: flex-start;
          overflow: hidden;
          -webkit-transition: opacity .3s;
          -o-transition: opacity .3s;
          transition: opacity .3s;
          opacity: 0; }
          #c1 #projects .deck .card .hover_info p {
            font-size: .9em;
            position: absolute;
            top: 0;
            left: 0;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            padding: 1em;
            color: #fff;
            text-shadow: 1px 2px #2d3436; }
            #c1 #projects .deck .card .hover_info p span {
              display: inline-block; }
              #c1 #projects .deck .card .hover_info p span a {
                color: #fff;
                font-weight: 700; }
        #c1 #projects .deck .card .hover_info:hover {
          opacity: 1;
          outline: 4px solid rgba(230, 126, 34, 0.7);
          outline-offset: 9px; }
        #c1 #projects .deck .card .card_art:hover {
          cursor: pointer; }
  #c1 .block_bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
    background-image: url(../../images/blue_top.png);
    background-size: cover;
    background-position: top center;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }

#c2 {
  position: relative;
  min-height: 300px;
  color: #fff;
  background-color: #3498db;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2em;
  text-align: left;
  overflow: hidden; }
  #c2 .background_quote {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 5em;
    padding: 5%;
    opacity: .5; }
  #c2 blockquote {
    font-size: 3em;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #c2 blockquote span:first-child {
      display: inline-block;
      margin-right: .3em; }
    #c2 blockquote span:last-child {
      display: inline-block;
      width: 5em;
      border: none; }
      #c2 blockquote span:last-child span {
        display: inline-block; }

#c3 {
  position: relative; }

#c4 {
  padding: 1em 0; }
  #c4 .block_top {
    width: 100%;
    height: 400px;
    background-image: url(../../images/blue_top.png);
    background-size: cover;
    position: absolute;
    background-position: top center;
    background-repeat: no-repeat;
    top: 0;
    left: 0; }
  #c4 .github {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 16; }
    #c4 .github .section_break {
      width: 100%;
      margin: 1em 0 0 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      max-width: 1000px; }
      #c4 .github .section_break h3 {
        color: #2d3436;
        padding: 0 0 4px 0;
        border-bottom: 1px solid #2d3436;
        max-width: 1200px;
        min-width: 33%; }
    #c4 .github div:first-child {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    #c4 .github #deck_of_git_cards {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
    #c4 .github div {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      #c4 .github div #git_pic {
        width: 256px;
        height: 256px;
        margin: 1em;
        overflow: hidden;
        background-color: #27ae60;
        background-position: center center;
        background-size: cover;
        -webkit-filter: grayscale(0.8);
        filter: grayscale(0.8);
        outline-offset: 8px;
        outline: 4px solid #27ae60; }
      #c4 .github div p {
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
        padding: 3em; }
    #c4 .github .git_input_field {
      position: relative;
      width: 50%;
      height: 3em;
      margin: 80px 3em 3em 3em;
      line-height: 1.5em;
      background-color: #fff;
      border-bottom: 1px solid #2d3436;
      padding-left: 1em; }
      #c4 .github .git_input_field span {
        position: absolute;
        left: 0;
        height: 100%;
        width: 3em;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end; }
        #c4 .github .git_input_field span ion-icon {
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          margin: auto;
          color: #2d3436;
          font-size: 2em; }
      #c4 .github .git_input_field input {
        text-align: center;
        width: 100%;
        border: none;
        background-color: none;
        font-size: 2em; }
      #c4 .github .git_input_field #clear {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        font-size: .7em;
        color: #1e272e; }
      #c4 .github .git_input_field input:focus {
        outline: none; }
      #c4 .github .git_input_field span:hover {
        cursor: pointer; }
      #c4 .github .git_input_field span:active {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-transform: translateY(4px);
        -ms-transform: translateY(4px);
        transform: translateY(4px); }
    #c4 .github #git_pinned_items {
      max-width: 1100px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      margin: 3em 0 1em 0;
      flex-wrap: wrap; }
      #c4 .github #git_pinned_items .card_wrap {
        position: relative;
        width: 500px;
        min-height: 125px;
        padding: 8px;
        margin: 2em 8px 8px 8px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-shadow: 1px 1px 2px rgba(45, 52, 54, 0.5);
        box-shadow: 1px 1px 2px rgba(45, 52, 54, 0.5);
        background-color: #fff; }
        #c4 .github #git_pinned_items .card_wrap .img_wrap {
          width: 25%;
          height: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          #c4 .github #git_pinned_items .card_wrap .img_wrap .place_img_here {
            width: 125px;
            height: 125px; }
            #c4 .github #git_pinned_items .card_wrap .img_wrap .place_img_here .git_pinned_img {
              width: 100%;
              margin: 8px;
              min-width: 100px;
              min-height: 100px;
              overflow: hidden; }
        #c4 .github #git_pinned_items .card_wrap .info {
          width: 70%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          overflow: hidden; }
          #c4 .github #git_pinned_items .card_wrap .info .title_links {
            width: 100%;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
            #c4 .github #git_pinned_items .card_wrap .info .title_links h2 {
              width: 100%;
              height: 2em;
              border-bottom: 1px solid #2d3436;
              display: block; }
            #c4 .github #git_pinned_items .card_wrap .info .title_links ul {
              position: absolute;
              top: -1.5em;
              right: 0;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -ms-flex-wrap: nowrap;
              flex-wrap: nowrap;
              z-index: 256; }
              #c4 .github #git_pinned_items .card_wrap .info .title_links ul li {
                padding: .2em;
                background-color: #2d3436;
                color: #ecf0f1;
                margin: 0 0 0 .1em; }
                #c4 .github #git_pinned_items .card_wrap .info .title_links ul li span {
                  -webkit-user-select: none;
                  -moz-user-select: none;
                  -ms-user-select: none;
                  user-select: none; }
                  #c4 .github #git_pinned_items .card_wrap .info .title_links ul li span ion-icon {
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none; }
              #c4 .github #git_pinned_items .card_wrap .info .title_links ul li:active ion-icon {
                -webkit-transform: translateY(5px);
                -ms-transform: translateY(5px);
                transform: translateY(5px); }
            #c4 .github #git_pinned_items .card_wrap .info .title_links p {
              text-align: start; }
            #c4 .github #git_pinned_items .card_wrap .info .title_links a {
              color: #2ecc71;
              border: none;
              text-decoration: none;
              font-weight: 400; }
            #c4 .github #git_pinned_items .card_wrap .info .title_links a:active,
            #c4 .github #git_pinned_items .card_wrap .info .title_links a:hover {
              color: #27ae60; }
          #c4 .github #git_pinned_items .card_wrap .info p {
            width: 100%;
            height: auto;
            padding: .5em; }
    #c4 .github #git_blocks .position-relative {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      #c4 .github #git_blocks .position-relative h2 {
        width: 100%;
        text-align: center;
        margin: 1em;
        font-weight: 500;
        font-size: 1.5em; }
      #c4 .github #git_blocks .position-relative .border .js-calendar-graph {
        font-size: .55em; }
      #c4 .github #git_blocks .position-relative .border .contrib-footer {
        display: none; }

#c5 {
  width: 100%;
  height: 100vh;
  background-color: #ecf0f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  #c5 h2 {
    font-size: 3em;
    line-height: 1em;
    padding: .5em 1em;
    margin: .5em;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-55%);
    -ms-transform: translateX(-55%);
    transform: translateX(-55%);
    color: #95a5a6;
    text-transform: uppercase;
    background-color: #ecf0f1;
    border: 1px solid #2d3436;
    z-index: 5; }
  #c5 .history_card {
    position: relative;
    width: 450px;
    height: 230px;
    padding: 1em;
    background-color: #2d3436;
    overflow: hidden;
    color: #fff;
    outline: 1px solid #2d3436;
    outline-offset: .5em; }
    #c5 .history_card .info_2007 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url(../../images/work_2.jpeg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      opacity: .5; }
    #c5 .history_card .info_2011 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url(../../images/work_1.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      opacity: .5; }
    #c5 .history_card .info_2019 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url(../../images/work_3.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: bottom center;
      opacity: .3; }
    #c5 .history_card .info_wrap {
      width: 100%;
      height: 100%;
      position: absolute; }
      #c5 .history_card .info_wrap h3 {
        font-size: 1.5em;
        font-weight: 700; }
      #c5 .history_card .info_wrap h4 {
        font-size: .8em;
        font-weight: 200;
        border-bottom: 1px solid #fff;
        width: 100%;
        margin: .5em 0 4px 0; }
      #c5 .history_card .info_wrap p {
        margin-top: 1em;
        max-width: 95%; }
  #c5 #year_2007 {
    position: absolute;
    top: 25%;
    background-color: #e67e22; }
  #c5 #year_2011 {
    position: absolute;
    top: 45%;
    background-color: #27ae60; }
  #c5 #year_2019 {
    position: absolute;
    top: 85%;
    background-color: #3498db; }
  #c5 #bestbuy {
    position: absolute;
    left: 5%;
    top: 20%; }
  #c5 #apple {
    position: absolute;
    right: 5%;
    top: 40%; }
  #c5 #madden_media {
    position: absolute;
    left: 5%;
    bottom: 10%; }
  #c5 .timeline_box {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden; }
    #c5 .timeline_box .timeline {
      width: 0;
      height: 100%;
      border-right: 1px solid #95a5a6;
      z-index: 2; }
      #c5 .timeline_box .timeline .time_box {
        background-color: inherit;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        #c5 .timeline_box .timeline .time_box div {
          width: 1em;
          height: 1em;
          display: block;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          #c5 .timeline_box .timeline .time_box div .small_frame {
            border: 1px solid #2d3436;
            width: 2em;
            height: 2em;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center; }
          #c5 .timeline_box .timeline .time_box div .med_frame {
            border: 1px solid #2d3436;
            width: 3em;
            height: 3em;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center; }
          #c5 .timeline_box .timeline .time_box div .large_frame {
            border: 1px solid #2d3436;
            width: 5em;
            height: 1.5em;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center; }
      #c5 .timeline_box .timeline .time_box:hover {
        cursor: pointer; }

#c6 {
  display: none;
  min-height: 100vh;
  width: 100%;
  background-color: #fff; }
  #c6 #about_me {
    min-height: 100%; }
    #c6 #about_me .about_section {
      position: absolute;
      left: 30%;
      bottom: 30%; }

#c7 {
  color: #fff;
  text-shadow: 1px 1px 3px #2d3436;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  background-image: url(../../images/pixels.png); }
  #c7 h2 {
    font-size: 3em;
    font-weight: 700;
    width: 100%;
    padding: .5em 0; }
  #c7 .sub_title {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #c7 .sub_title h3 {
      font-size: 1em;
      font-weight: 200;
      max-width: 800px;
      padding: 1em;
      margin: 0 3em; }
  #c7 .business_card {
    margin: 2em;
    padding: 1em;
    width: 350px;
    height: 150px;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #c7 .business_card .bc_wrap {
      color: #2d3436;
      text-align: start;
      padding: 0 1em 1e 1em;
      margin: 0 1em 1em 1em;
      text-shadow: none;
      font-size: .75em; }
      #c7 .business_card .bc_wrap .bc_name {
        padding-bottom: 4px;
        border-bottom: 1px solid #2d3436; }
      #c7 .business_card .bc_wrap .bc_info_1 {
        padding: 2px 0; }
      #c7 .business_card .bc_wrap .bc_info_2 {
        padding: 1em 0 1em 0; }
      #c7 .business_card .bc_wrap a {
        color: #2d3436; }
  #c7 .contact_input {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #c7 .contact_input .contact_wrap {
      max-width: 800px;
      padding: 1em;
      margin: .5em;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      #c7 .contact_input .contact_wrap input {
        width: 100%;
        background-color: rgba(45, 52, 54, 0.5);
        border: none;
        margin: 4px 0;
        border: 1px solid #95a5a6;
        line-height: 1.2em;
        font-size: 1.2em;
        font-family: "Livvic", sans-serif;
        padding: .5em 1em;
        color: #fff; }
  #c7 .locked_section {
    width: 100%;
    padding: 1em;
    margin-top: 1em;
    background-color: rgba(45, 52, 54, 0.7);
    border-top: 2px solid #2d3436; }
    #c7 .locked_section span {
      display: block;
      font-size: 5em; }
    #c7 .locked_section input {
      min-width: 200px;
      padding: .5em 1em; }
    #c7 .locked_section div:last-child {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      #c7 .locked_section div:last-child div {
        width: 100px; }
  #c7 .input_button {
    background-color: rgba(45, 52, 54, 0);
    border: 2px solid #ecf0f1;
    padding: 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 1em; }
  #c7 .input_button:active {
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px); }

#c8 {
  display: none; }
  #c8 #hidden_section {
    position: relative;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #c8 #hidden_section .resume_wrap {
      width: 800px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-shadow: 2px 2px 5px rgba(45, 52, 54, 0.7);
      box-shadow: 2px 2px 5px rgba(45, 52, 54, 0.7);
      margin: 2em; }
      #c8 #hidden_section .resume_wrap img {
        width: 100%; }
    #c8 #hidden_section .resume_save_options {
      position: absolute;
      top: 1em;
      right: 1em;
      margin: 1em;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      #c8 #hidden_section .resume_save_options a {
        color: #fff; }
      #c8 #hidden_section .resume_save_options div:active {
        -webkit-transform: translateY(5px);
        -ms-transform: translateY(5px);
        transform: translateY(5px); }
      #c8 #hidden_section .resume_save_options div {
        padding: 1em;
        background-color: rgba(45, 52, 54, 0.7);
        color: #fff; }

#user-activity-overview {
  display: none; }

.block {
  display: block; }

.side_menu {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 5px 0 0 5px;
  color: #fff; }
  .side_menu .side_menu_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.2em;
    width: 1em;
    height: 1em;
    padding: .5em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 5px 0 0 5px;
    margin: .5em 0 0 0;
    background-color: rgba(45, 52, 54, 0.7);
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    -o-transition: transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s; }
  .side_menu .info {
    display: none; }

.side_menu_item:hover {
  cursor: pointer; }

.side_menu_item:active ion-icon {
  -webkit-transform: translateY(4px);
  -ms-transform: translateY(4px);
  transform: translateY(4px); }

.bounce_small {
  -webkit-animation-name: bounce_small;
  animation-name: bounce_small;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation: bounce_small .7s;
  animation: bounce_small .7s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

@-webkit-keyframes bounce_small {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes bounce_small {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

.spinning_slow {
  -webkit-animation-name: spin;
  animation-name: spin;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation: bounce_small 2s;
  animation: bounce_small 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  animation-name: spin;
  -webkit-animation-duration: 5000ms;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  display: block; }

.spinning_fast {
  -webkit-animation-name: spin;
  animation-name: spin;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation: bounce_small .5s;
  animation: bounce_small .5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  animation-name: spin;
  -webkit-animation-duration: 5000ms;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  display: block; }

.spinning_odd_1 {
  -webkit-animation-name: spin;
  animation-name: spin;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation: bounce_small .5s;
  animation: bounce_small .5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  animation-name: spin;
  -webkit-animation-duration: 5000ms;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  display: block; }

.spinning_odd_2 {
  -webkit-animation-name: spin;
  animation-name: spin;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation: bounce_small .5s;
  animation: bounce_small .5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  animation-name: spin;
  -webkit-animation-duration: 5000ms;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  display: block; }

.spinning_super_slow {
  -webkit-animation-name: spin;
  animation-name: spin;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation: bounce_small 5s;
  animation: bounce_small 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  animation-name: spin;
  -webkit-animation-duration: 5000ms;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  display: block; }

.spinning_super_odd_3 {
  -webkit-animation-name: spin;
  animation-name: spin;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation: bounce_small 5s;
  animation: bounce_small 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  animation-name: spin;
  -webkit-animation-duration: 5000ms;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  display: block; }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.col-2,
.col-4,
.col-6,
.col-12 {
  display: none; }

.social_wrap {
  position: absolute;
  left: -60px;
  bottom: 50%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s; }
  .social_wrap .social {
    color: #fff;
    width: 100px;
    height: 1em;
    padding: .2em .5em;
    font-size: 2em;
    text-align: end;
    -webkit-transition: border-radius .3s, -webkit-transform .3s;
    transition: border-radius .3s, -webkit-transform .3s;
    -o-transition: transform .3s, border-radius .3s;
    transition: transform .3s, border-radius .3s;
    transition: transform .3s, border-radius .3s, -webkit-transform .3s; }
  .social_wrap .social_mail {
    background-color: #ecf0f1;
    color: #2d3436; }
  .social_wrap .social_link {
    background-color: #f39c12; }
  .social_wrap .social_github {
    background-color: #2ecc71; }
  .social_wrap .social_linkedin {
    background-color: #3498db; }
  .social_wrap .social_codepen {
    background-color: #2d3436; }
  .social_wrap .social:hover {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
    border-radius: 0 5px 5px 0; }
  .social_wrap .social:active ion-icon {
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px); }

#toast {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(45, 52, 54, 0.5);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: none;
  z-index: 9998; }

#toast_data {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 80vw;
  max-width: 1080px;
  height: 70vh;
  min-height: 70vh;
  padding: 1em;
  background-color: #fff;
  display: none;
  outline: 8px solid #fff;
  outline-offset: 1em;
  z-index: 9999; }
  #toast_data .close_button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    top: .5em;
    right: .5em;
    width: 1em;
    height: 1em;
    font-size: 2em;
    color: #2d3436;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s; }
  #toast_data .close_button:hover {
    cursor: pointer; }
  #toast_data .close_button:active {
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px); }

.tooltip {
  position: relative;
  display: inline-block; }

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s; }

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent; }

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1; }

.__hide {
  display: none; }
