/* by Matthew Carpenter */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,900");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Livvic", sans-serif; }

section {
  position: relative; }

nav {
  color: #fff;
  background-color: rgba(45, 52, 54, 0.7);
  border: 1px solid rgba(45, 52, 54, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 20px;
  padding: 1em 0;
  z-index: 99;
  -webkit-transform: translateY(-101%);
  -ms-transform: translateY(-101%);
  transform: translateY(-101%);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s; }
  nav div {
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: 1em; }
    nav div span:first-child {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      position: absolute;
      left: 0; }
    nav div span:last-child {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      position: absolute;
      right: 0;
      bottom: 0; }
    nav div span:last-child:hover {
      cursor: pointer; }
    nav div span:last-child:active {
      -webkit-transform: translateY(4px);
      -ms-transform: translateY(4px);
      transform: translateY(4px); }
    nav div #login {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      nav div #login input {
        border: none;
        background: none;
        color: #fff;
        border-bottom: 1px solid #ecf0f1;
        width: 30%;
        margin: 0 1em; }
      nav div #login input:focus {
        outline: 2px solid #ecf0f1;
        outline-offset: 4px; }
      nav div #login span {
        position: relative;
        display: inline-block;
        color: #fff; }
        nav div #login span ion-icon {
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none; }
        nav div #login span ion-icon:focus {
          outline: none; }
      nav div #login span:focus {
        outline: 2px solid #fff;
        outline-offset: 4px; }

#hero {
  min-height: 100vh;
  background-image: url(../../images/person-in-front-of-laptop-on-brown-wooden-table-2115217.jpg);
  background-attachment: fixed;
  background-position: top right;
  background-size: cover;
  color: #fff; }
  #hero div {
    position: absolute;
    bottom: 10%;
    left: 5%; }
    #hero div h1 {
      font-size: 5em;
      font-weight: 700; }
      #hero div h1 span {
        font-size: 1em;
        display: inline-block; }
    #hero div h2 {
      font-size: 1.4em; }
  #hero #pixel_board {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    opacity: 65%;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background-image: url("../../images/colors_4k.png");
    background-position: center top;
    background-size: cover auto; }

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

#c1 {
  background-color: #f1f1f1;
  min-height: 500px; }
  #c1 h2:first-child {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 2em;
    width: 25%;
    line-height: 1.5em;
    margin: 0 0 .5em 0;
    color: #95a5a6;
    text-transform: uppercase;
    font-weight: 700;
    border-bottom: 1px solid;
    -webkit-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s; }
  #c1 h2:first-child:hover {
    width: 100%; }
  #c1 #projects {
    width: 100%;
    max-width: 1200px;
    padding: 2em 1em; }
    #c1 #projects .deck {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 160px;
      z-index: 2; }
      #c1 #projects .deck .card {
        position: relative;
        width: 30%;
        min-width: 300px;
        height: 300px;
        background-color: #fff;
        margin: 1%;
        z-index: 3;
        -webkit-box-shadow: 1px 2px 4px;
        box-shadow: 1px 2px 4px; }
        #c1 #projects .deck .card .card_art {
          position: absolute;
          left: 0;
          top: 0;
          background-position: center center;
          background-size: cover;
          width: 100%;
          height: 100%; }
        #c1 #projects .deck .card h2,
        #c1 #projects .deck .card h3,
        #c1 #projects .deck .card p,
        #c1 #projects .deck .card div {
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          position: relative; }
        #c1 #projects .deck .card h2 {
          text-shadow: 1px 1px #2d3436;
          color: #fff;
          font-weight: 900;
          position: absolute;
          bottom: 0;
          left: 0;
          margin: 1em .5em;
          font-size: 2em;
          z-index: 20; }
        #c1 #projects .deck .card h3 {
          position: absolute;
          bottom: .5em;
          left: .5em;
          color: #fff;
          z-index: 23; }
          #c1 #projects .deck .card h3 span {
            padding: 0 .5em;
            border-left: 1px solid #fff;
            text-shadow: 2px 2px 2px #2d3436; }
          #c1 #projects .deck .card h3 span:first-child {
            border: none; }
        #c1 #projects .deck .card .hover_info {
          background-color: rgba(230, 126, 34, 0.7);
          width: 100%;
          height: 300px;
          position: absolute;
          left: 0;
          bottom: 0;
          font-size: 1.2em;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: start;
          -ms-flex-align: start;
          align-items: flex-start;
          overflow: hidden;
          -webkit-transition: opacity .3s;
          -o-transition: opacity .3s;
          transition: opacity .3s;
          opacity: 0; }
          #c1 #projects .deck .card .hover_info p {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            top: 25%;
            padding: 1em;
            color: #fff;
            text-shadow: 1px 2px #2d3436; }
            #c1 #projects .deck .card .hover_info p span {
              display: inline-block; }
              #c1 #projects .deck .card .hover_info p span a {
                color: #fff;
                font-weight: 700; }
        #c1 #projects .deck .card .hover_info:hover {
          opacity: 1;
          outline: 4px solid rgba(230, 126, 34, 0.7);
          outline-offset: 9px; }
        #c1 #projects .deck .card .card_art:hover {
          cursor: pointer; }
  #c1 .block_bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
    background-image: url(../../images/blue_top.png);
    background-size: cover;
    background-position: top center;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }

#c2 {
  position: relative;
  min-height: 300px;
  color: #fff;
  background-color: #3498db;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2em;
  text-align: left;
  overflow: hidden; }
  #c2 div:first-child {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 5em;
    padding: 5%;
    opacity: .5; }
  #c2 blockquote {
    font-size: 3em;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #c2 blockquote span:first-child {
      display: inline-block; }
    #c2 blockquote span:last-child {
      display: inline-block;
      width: 5em;
      border: none; }
      #c2 blockquote span:last-child span {
        display: inline-block; }

#c4 {
  padding: 1em 0; }
  #c4 .block_top {
    width: 100%;
    height: 400px;
    background-image: url(../../images/blue_top.png);
    background-size: cover;
    position: absolute;
    background-position: top center;
    background-repeat: no-repeat;
    top: 0;
    left: 0; }
  #c4 .github {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #c4 .github div:first-child {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
    #c4 .github div {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      #c4 .github div #git_pic {
        width: 256px;
        height: 256px;
        margin: 1em;
        overflow: hidden;
        background-color: #27ae60;
        background-position: center center;
        background-size: cover;
        -webkit-filter: grayscale(0.8);
        filter: grayscale(0.8);
        outline-offset: 8px;
        outline: 4px solid #27ae60; }
      #c4 .github div p {
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
        padding: 3em; }
    #c4 .github .git_input_field {
      position: relative;
      width: 50%;
      height: 3em;
      margin: 80px 3em 3em 3em;
      line-height: 1.5em;
      background-color: #fff;
      border-bottom: 1px solid #2d3436;
      padding-left: 1em; }
      #c4 .github .git_input_field span {
        position: absolute;
        left: 0;
        height: 100%;
        width: 3em;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end; }
        #c4 .github .git_input_field span ion-icon {
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          margin: auto;
          color: #2d3436;
          font-size: 2em; }
      #c4 .github .git_input_field input {
        text-align: center;
        width: 100%;
        border: none;
        background-color: none;
        font-size: 2em; }
      #c4 .github .git_input_field #clear {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        font-size: .7em;
        color: #1e272e; }
      #c4 .github .git_input_field input:focus {
        outline: none; }
      #c4 .github .git_input_field span:hover {
        cursor: pointer; }
      #c4 .github .git_input_field span:active {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-transform: translateY(4px);
        -ms-transform: translateY(4px);
        transform: translateY(4px); }
    #c4 .github .git_pinned_items {
      max-width: 800px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      margin: 1em 0; }
      #c4 .github .git_pinned_items .git_card {
        width: 200px;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        text-align: center;
        margin: 12px;
        overflow: hidden; }
        #c4 .github .git_pinned_items .git_card .git_pinned_img {
          width: 100%;
          margin: 8px; }
        #c4 .github .git_pinned_items .git_card h3 {
          font-size: 1em;
          font-weight: 700;
          width: 100%; }
      #c4 .github .git_pinned_items .git_card:hover .git_pinned_img {
        cursor: pointer;
        -webkit-box-shadow: 1px 1px 3px #2d3436;
        box-shadow: 1px 1px 3px #2d3436; }
      #c4 .github .git_pinned_items .git_card:active .git_pinned_img {
        -webkit-transform: translateY(4px);
        -ms-transform: translateY(4px);
        transform: translateY(4px); }
    #c4 .github #git_blocks .position-relative {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      #c4 .github #git_blocks .position-relative h2 {
        width: 100%;
        text-align: center;
        margin: 1em;
        font-weight: 500;
        font-size: 1.5em; }
      #c4 .github #git_blocks .position-relative .border .js-calendar-graph {
        font-size: .55em; }
      #c4 .github #git_blocks .position-relative .border .contrib-footer {
        display: none; }

#c5 {
  width: 100%;
  height: 80vh;
  background-color: #ecf0f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  #c5 h2 {
    font-size: 3em;
    line-height: 2em;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    color: #95a5a6;
    text-transform: uppercase; }
  #c5 .timeline_box {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden; }
    #c5 .timeline_box .timeline {
      width: 100%;
      height: 0;
      border-bottom: 1px solid #95a5a6;
      z-index: 2; }
      #c5 .timeline_box .timeline #year_2007 {
        position: absolute;
        left: 18%;
        background-color: #e67e22; }
        #c5 .timeline_box .timeline #year_2007 h3 {
          top: 0;
          -webkit-transform: translateX(-40%);
          -ms-transform: translateX(-40%);
          transform: translateX(-40%); }
      #c5 .timeline_box .timeline #year_2011 {
        position: absolute;
        left: 40%;
        background-color: #27ae60; }
        #c5 .timeline_box .timeline #year_2011 h3 {
          bottom: 0;
          -webkit-transform: translateX(-40%);
          -ms-transform: translateX(-40%);
          transform: translateX(-40%); }
      #c5 .timeline_box .timeline #year_2019 {
        position: absolute;
        left: 80%;
        background-color: #3498db; }
        #c5 .timeline_box .timeline #year_2019 h3 {
          text-align: center;
          top: 0;
          -webkit-transform: translateX(-40%);
          -ms-transform: translateX(-40%);
          transform: translateX(-40%); }
      #c5 .timeline_box .timeline .time_box {
        background-color: inherit;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        #c5 .timeline_box .timeline .time_box h3 {
          position: absolute;
          left: 0;
          font-weight: 200;
          font-size: 2em;
          margin: 2em 0; }
        #c5 .timeline_box .timeline .time_box div {
          width: 1em;
          height: 1em;
          display: block;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          #c5 .timeline_box .timeline .time_box div .small_frame {
            border: 1px solid #2d3436;
            width: 2em;
            height: 2em;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center; }
          #c5 .timeline_box .timeline .time_box div .med_frame {
            border: 1px solid #2d3436;
            width: 3em;
            height: 3em;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center; }
          #c5 .timeline_box .timeline .time_box div .large_frame {
            border: 1px solid #2d3436;
            width: 5em;
            height: 1.5em;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center; }
          #c5 .timeline_box .timeline .time_box div .line_up {
            border-left: 1px solid #2d3436;
            height: 10em;
            width: 0;
            position: absolute;
            left: 50%;
            top: 0;
            -webkit-transform: translate(-50%, -100%);
            -ms-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%); }
            #c5 .timeline_box .timeline .time_box div .line_up div p {
              position: absolute;
              top: 0;
              margin: -2.5em 0;
              font-weight: 200;
              font-size: 2em;
              text-align: center; }
              #c5 .timeline_box .timeline .time_box div .line_up div p span {
                display: inline-block; }
          #c5 .timeline_box .timeline .time_box div .line_down {
            border-left: 1px solid #2d3436;
            height: 10em;
            width: 0;
            position: absolute;
            left: 50%;
            bottom: 0;
            -webkit-transform: translate(-50%, 100%);
            -ms-transform: translate(-50%, 100%);
            transform: translate(-50%, 100%); }
            #c5 .timeline_box .timeline .time_box div .line_down div p {
              position: absolute;
              bottom: 0;
              margin: -2em 0;
              font-weight: 200;
              font-size: 2em;
              text-align: center;
              width: 200px; }
      #c5 .timeline_box .timeline .time_box:hover {
        cursor: pointer; }

#c6 {
  display: none;
  min-height: 100vh;
  width: 100%;
  background-color: #fff; }
  #c6 #about_me {
    min-height: 100%; }
    #c6 #about_me .about_section {
      position: absolute;
      left: 30%;
      bottom: 30%; }

#c7 {
  color: #fff;
  text-shadow: 1px 1px 3px #2d3436;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  background-image: url(../../images/pixels.png); }
  #c7 h2 {
    font-size: 3em;
    font-weight: 700;
    width: 100%;
    padding: .5em 0; }
  #c7 h3 {
    font-size: 1em;
    font-weight: 200;
    width: 100%; }
  #c7 .business_card {
    margin: 2em;
    padding: 1em;
    width: 350px;
    height: 150px;
    background-color: #fff;
    -webkit-box-shadow: 1px 1px 3px #2d3436;
    box-shadow: 1px 1px 3px #2d3436; }
  #c7 .contact_input {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #c7 .contact_input .contact_wrap {
      max-width: 800px;
      padding: 1em;
      margin: .5em;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      #c7 .contact_input .contact_wrap input {
        width: 100%;
        background-color: rgba(45, 52, 54, 0.5);
        border: none;
        margin: 4px 0;
        border: 1px solid #95a5a6;
        line-height: 1.2em;
        font-size: 1.2em;
        font-family: "Livvic", sans-serif;
        padding: .5em 1em;
        color: #fff; }
  #c7 .locked_section {
    width: 100%;
    padding: 1em;
    margin-top: 1em;
    background-color: rgba(45, 52, 54, 0.7);
    border-top: 2px solid #2d3436; }
    #c7 .locked_section span {
      display: block;
      font-size: 5em; }
    #c7 .locked_section input {
      min-width: 200px;
      padding: .5em 1em; }
    #c7 .locked_section div:last-child {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      #c7 .locked_section div:last-child div {
        width: 100px; }
  #c7 .input_button {
    background-color: rgba(45, 52, 54, 0);
    border: 2px solid #ecf0f1;
    padding: 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 1em; }
  #c7 .input_button:active {
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px); }

#user-activity-overview {
  display: none; }

.block {
  display: block; }

.info {
  position: absolute;
  font-size: 1.2em;
  top: 0;
  right: 0;
  width: 1em;
  height: 1em;
  padding: .5em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 5px 0 0 5px;
  margin: .5em 0 1em 1em;
  background-color: rgba(45, 52, 54, 0.7);
  color: #fff;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  -o-transition: transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  display: none; }

.info:hover {
  cursor: pointer; }

.info:active ion-icon {
  -webkit-transform: translateY(4px);
  -ms-transform: translateY(4px);
  transform: translateY(4px); }

.bounce_small {
  -webkit-animation-name: bounce_small;
  animation-name: bounce_small;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation: bounce_small .7s;
  animation: bounce_small .7s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

@-webkit-keyframes bounce_small {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes bounce_small {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

.spinning_slow {
  -webkit-animation-name: spin;
  animation-name: spin;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation: bounce_small 2s;
  animation: bounce_small 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  animation-name: spin;
  -webkit-animation-duration: 5000ms;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  display: block; }

.spinning_fast {
  -webkit-animation-name: spin;
  animation-name: spin;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation: bounce_small .5s;
  animation: bounce_small .5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  animation-name: spin;
  -webkit-animation-duration: 5000ms;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  display: block; }

.spinning_super_slow {
  -webkit-animation-name: spin;
  animation-name: spin;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation: bounce_small 5s;
  animation: bounce_small 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  animation-name: spin;
  -webkit-animation-duration: 5000ms;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  display: block; }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
