// colors
$primary: #e67e22;
$primary_highlight: #d35400;
$secondary: #6D214F;
$secondary_highlight: #6F1E51;
$highlight: #f39c12; 
$success: #27ae60;
$success_highlight: #2ecc71;
$error: #c0392b;
$error_highlight: #e74c3c;
$dark: #2d3436;
$dark_highlight: #1e272e;
$light: #ecf0f1;
$light_highlight: #95a5a6;

$font:'Livvic', sans-serif;