//////////////////////////////////////////////////
// import
//////////////////////////////////////////////////

@import "__vars";

//////////////////////////////////////////////////
// index
//////////////////////////////////////////////////

#hero {
    background-attachment: inherit;
}

//////////////////////////////////////////////////
// chapters
//////////////////////////////////////////////////

#hero {
    div {
        h1 { 
            line-height: .7em;
            display: inline-block;
            margin: .3em 0;
            span {
                line-height: .3em;
                font-size: .5em;
            }

            #name_space {
                display: block;
            }
        }
    }
}

#c4 {

    .github {

        .git_input_field {
            width: 85%;
            margin: 2.5em .5em;
            font-size: .85em;
        }

        .git_pinned_items {
            overflow: scroll;
        }

    }
    
    .side_menu {
        z-index: 32;
    }
}

#c5 {
    height: auto;
    min-height: 100vh;

    h2 {
        margin-top: 2em;
        position: relative;
        font-size: 2em;
        width: 100%;
        text-align: center;
    }

    #apple,
    #madden_media,
    #bestbuy {
        position: relative;
        height: 300px;
        left: 0;
        top: 0;
        margin: 1em;
    }

    .timeline_box {
        display: none;
    }
}

#c7 {
    .business_card {
        display: none;
    }

    
	h2:first-child {
		display: none;
	}

	h2:nth-child(2) {
		display: block;
	}

    .sub_title {
        h3:first-child {
            display: none;
        }

        h3:last-child {
            display: block;
        }
    }
}

#c8 {
    #hidden_section {
        .resume_wrap {
            margin-top: 7.5em;
        }
    }
}


////////////////
// social media
////////////////

.social_wrap {
    display: none;
}

////////////////
// git cal
////////////////

svg {
    overflow: visible;
    margin-right: 100%;
    transform: scale(.9);
}