/* by Matthew Carpenter */

//////////////////////////////////////////////////
// reset
//////////////////////////////////////////////////

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

//////////////////////////////////////////////////
// import
//////////////////////////////////////////////////

@import "__vars";
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,400i,900&display=swap');

//////////////////////////////////////////////////
// main
//////////////////////////////////////////////////


body {
    font-family: $font;
}

section {
	position: relative;
}

//////////////////////////////////////////////////
// nav
//////////////////////////////////////////////////

nav {
	color: #fff;
	background-color: rgba($dark, .7);
	border: 1px solid rgba($dark, .8);
	display: flex;
	position: fixed;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 20px;
	padding: 1em 0;
	z-index: 99;
	transform: translateY(-101%);
	transition: transform .3s;

	div {
		position: relative;
		width: 100%;
		max-width: 1200px;
		height: 1em;

		span:first-child {
			user-select: none;
			position: absolute;
			left: 0;
		}

		span:last-child {
			user-select: none;
			position: absolute;
			right: 0;
			bottom: 0;
		}

		span:last-child:hover {
			cursor: pointer;
		}

		span:last-child:active {
			transform: translateY(4px);
		}

		#login {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;

			input {
				border: none;
				background: none;
				color: #fff;
				border-bottom: 1px solid $light;
				width: 30%;
				margin: 0 1em;
			}

			input:focus {
				outline: 2px solid $light;
				outline-offset: 4px;
			}

			span {
				position: relative;
				display: inline-block;
				color: #fff;

				ion-icon {
					user-select: none;
				}

				ion-icon:focus {
					outline: none;
				}
			}

			span:focus {
				outline: 2px solid #fff;
				outline-offset: 4px;
			}
		}
	}
}


//////////////////////////////////////////////////
// index
//////////////////////////////////////////////////

#hero {
	min-height: 100vh;
	background-image: url(../../images/person-in-front-of-laptop-on-brown-wooden-table-2115217.jpg);
	background-attachment: fixed;
	background-position: top right;
	background-size: cover;
	color: #fff;

	div {
		position: absolute;
		bottom: 10%;
		left: 5%;

		h1 {
			font-size: 5em;
			font-weight: 700;

			span {
				font-size: 1em;
				display: inline-block;
			}
		}

		h2 {
			font-size: 1.4em;
		}
	}

	#pixel_board {
		position: absolute;
		width: 100%;
		height: 100%;
		bottom: 0;
		left: 0;
		opacity: 65%;
		transform: rotate(180deg);

		background-image: url("../../images/colors_4k.png");
		background-position: center top;
		background-size: cover auto;
	}
}

//////////////////////////////////////////////////
// chapters
//////////////////////////////////////////////////

section {
	display: flex;
	justify-content: center;
}

#c1,
#c2,
#c3,
#c4,
#c5 {
	overflow: hidden;
}

#c1 {
	background-color: #f1f1f1;
	min-height: 500px;

	h2:first-child {
		user-select: none;
		font-size: 2em;
		width: 25%;
		line-height: 1.5em;
		margin: 0 0 .5em 0;
		color: $light_highlight;
		text-transform: uppercase;
		font-weight: 700;
		border-bottom: 1px solid;
		transition: width 1s;
	}

	h2:first-child:hover {
		width: 100%;
	}

	#projects {
		width: 100%;
		max-width: 1200px;
		padding: 2em 1em;

		.deck {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			margin-bottom: 160px;
			z-index: 2;

			.card {
				position: relative;
				width: 30%;
				min-width: 300px;
				height: 300px;
				background-color: #fff;
				margin: 1%;
				z-index: 3;
				box-shadow: 1px 2px 4px;
				overflow: hidden;
				opacity: 0;
				transform: translateY(300px);

				.card_art {
					position: absolute;
					left: 0;
					top: 0;
					background-position: center center;
					background-size: cover;
					width: 100%;
					height: 100%;
				}

				h2,
				h3,
				p,
				div {
					user-select: none;
					position: relative;
				}

				h2 {
					text-shadow: 1px 1px $dark;
					color:#fff;
					font-weight: 900;
					position: absolute;
					bottom: 0;
					left: 0;
					margin: 1em .5em;
					font-size: 2em;
					z-index: 20;
				}

				h3 {
					position: absolute;
					bottom: .5em;
					left: .5em;
					color: #fff;
					z-index: 23;
					
					span {
						padding: 0 .5em;
						border-left: 1px solid #fff;
						text-shadow: 2px 2px 2px $dark;
					}

					span:first-child {
						border: none;
					}
				}

				.hover_info {
					background-color: rgba($primary, .7);
					width: 100%;
					height: 300px;
					position: absolute;
					left: 0;
					bottom: 0;
					font-size: 1.2em;
					display: flex;
					justify-content: center;
					align-items: flex-start;
					overflow: hidden;
					transition: opacity .3s;
					opacity: 0;
					
					p {
						font-size: .9em;
						position: absolute;
						top: 0;
						left: 0;
						user-select: none;
						padding: 1em;
						color:#fff;
						text-shadow: 1px 2px $dark;

						span {
							display: inline-block;

							a {
								color: #fff;
								font-weight: 700;
							}
						}
					}
				}

				.hover_info:hover {
					opacity: 1;
					outline: 4px solid rgba($primary, .7);
					outline-offset: 9px;
				}

				.card_art:hover {
					cursor: pointer;
				}

			}
		}
	}

	.block_bottom {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 400px;
		user-select: none;
		z-index: 1;
		background-image: url(../../images/blue_top.png);
		background-size: cover;
		background-position: top center;
		transform: rotate(180deg);

	}
}

#c2 {
	position: relative;
	min-height: 300px;
	color: #fff;
	background-color: #3498db;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 2em;
	text-align: left;
	overflow: hidden;
		
	.background_quote { 
		position: absolute;
		top: 0;
		left: 0;
		font-size: 5em;
		padding: 5%;
		opacity: .5;
	}

	blockquote {
		font-size: 3em;
		font-weight: 700;
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		span:first-child {
			display: inline-block;
			margin-right: .3em;
		}

		span:last-child {
			display: inline-block;
			width: 5em;
			border: none;
			
			span {
				display: inline-block;
			}
		}
	}
}

#c3 {
	position: relative;
}

#c4 {
	padding: 1em 0;
	
	.block_top {
		width: 100%;
		height: 400px;
		background-image: url(../../images/blue_top.png);
		background-size: cover;
		position: absolute;
		background-position: top center;
		background-repeat: no-repeat;
		top: 0;
		left: 0;

	}

	.github {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		z-index: 16;
			
		.section_break {
			width: 100%;
			margin: 1em 0 0 0;
			display: flex;
			justify-content: flex-start;
			max-width: 1000px;	

			h3 {
				color: $dark;
				padding: 0 0 4px 0;
				border-bottom: 1px solid $dark;
				max-width: 1200px;
				min-width: 33%;
			}
		}
		
		div:first-child {
			flex-wrap: nowrap;
			justify-content: center;
			align-items: center;
		}

		#deck_of_git_cards {
			flex-wrap: wrap;
		}

		div {
			width: 100%;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;

			#git_pic {
				width: 256px;
				height: 256px;
				margin: 1em;
				overflow: hidden;
				background-color: $success;
				background-position: center center;
				background-size: cover;
				filter: grayscale(.8);
				outline-offset: 8px;
				outline: 4px solid $success;
			}

			p {
				width: 100%;
				justify-content: center;
				text-align: center;
				padding: 3em;
			}
		}

		.git_input_field {
			position: relative;
			width: 50%;
			height: 3em;
			margin: 80px 3em 3em 3em;
			line-height: 1.5em;
			background-color: #fff;
			border-bottom: 1px solid $dark;
			padding-left: 1em;

			span {
				position: absolute;
				left: 0;
				height: 100%;
				width: 3em;
				display: flex;
				justify-content: center;
				align-items: flex-end;

				ion-icon {
					user-select: none;
					margin: auto;
					color: $dark;
					font-size: 2em;
				}
			}

			input {
				text-align: center;
				width: 100%;
				border: none;
				background-color: none;
				font-size: 2em;
			}

			#clear {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: flex-end;
				font-size: .7em;
				color: $dark_highlight;
			}

			input:focus {
				outline: none;
			}

			span:hover {
				cursor: pointer;
			}

			span:active {
				user-select: none;
				transform: translateY(4px);
			}
		}

		#git_pinned_items {
			max-width: 1100px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-evenly;
			align-items: flex-start;
			margin: 3em 0 1em 0;
			flex-wrap: wrap;


			//////////////
			// start
			//////////////

			.card_wrap {
				position: relative;
				width: 500px;
				min-height: 125px;
				padding: 8px;
				margin: 2em 8px 8px 8px;
				display: flex;
				justify-content: space-evenly;
				align-items: flex-start;
				box-shadow: 1px 1px 2px rgba($dark, .5);
				background-color: #fff;

				.img_wrap {
					width: 25%;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;

					.place_img_here {
						width: 125px;
						height: 125px;

						.git_pinned_img {
							width: 100%;
							margin: 8px;
							min-width: 100px;
							min-height: 100px;
							overflow: hidden;
						}
					}
				}

				.info {
					width: 70%;
					display: flex;
					flex-wrap: wrap;
					overflow: hidden;

					.title_links {
							width: 100%;
							flex-wrap: wrap;

						h2 {
							width: 100%;
							height: 2em;
							border-bottom: 1px solid $dark;
							display: block;
						}
			
						ul { 
							position: absolute;
							top: -1.5em;
							right: 0;
							display: flex;
							flex-wrap: nowrap;
							z-index: 256;
			
							li {
								padding: .2em;
								background-color: $dark;
								color: $light;
								margin: 0 0 0 .1em;

								span {
									user-select: none;

									ion-icon {
										user-select: none;
									}
								}
							}

							li:active ion-icon{
								transform: translateY(5px);
							}
						}

						p {
							text-align: start;
						}
					}

					p {
						width: 100%;
						height: auto;
						padding: .5em;
					}
				}
			}
			//////////////
			// fin
			//////////////
		}

		#git_blocks {

			.position-relative {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-wrap: wrap;

				h2 {
					width: 100%;
					text-align: center;
					margin: 1em;
					font-weight: 500;
					font-size: 1.5em;
				}

				.border {

					.js-calendar-graph {
						font-size: .55em;
					}
			
					.contrib-footer {
						display: none;
					}
				}
			}
		}

	}

}

#c5 {
	width: 100%;
	height: 100vh;
	background-color: $light;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	h2 {
		font-size: 3em;
		line-height: 1em;
		padding: .5em 1em;
		margin: .5em;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-55%);
		color: $light_highlight;
		text-transform: uppercase;
		background-color: $light;
		border: 1px solid $dark;
		z-index: 5;
	}
			
	.history_card {
		position: relative;
		width: 450px;
		height: 230px;
		padding: 1em;
		background-color: $dark;
		overflow: hidden;
		color: #fff;
		outline: 1px solid $dark;
		outline-offset: .5em;
						
		.info_2007 {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: url(../../images/work_2.jpeg);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			opacity: .5;
		}

		.info_2011 {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: url(../../images/work_1.jpg);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			opacity: .5;
		}

		.info_2019 {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: url(../../images/work_3.jpg);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: bottom center;
			opacity: .3;
		}

		.info_wrap {
				width: 100%;
				height: 100%;
				position: absolute;

			h3 {
				font-size: 1.5em;
				font-weight: 700;
			}

			h4 {
				font-size: .8em;
				font-weight: 200;
				border-bottom: 1px solid #fff;
				width: 100%;
				margin: .5em 0 4px 0;
			}
			
			p {
				margin-top: 1em;
				max-width: 95%;
			}
		}

	}

	#year_2007 {
		position: absolute;
		top: 25%;
		background-color: $primary;
	}

	#year_2011 {
		position: absolute;
		top: 45%;
		background-color: $success;
	}

	#year_2019 {
		position: absolute;
		top: 85%;
		background-color: #3498db;
	}

	#bestbuy {
		position: absolute;
		left: 5%;
		top: 20%;
	}

	#apple {
		position: absolute;
		right: 5%;
		top: 40%;
	}

	#madden_media {
		position: absolute;
		left: 5%;
		bottom: 10%;
	}

	.timeline_box {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;

		.timeline {
			width: 0;
			height: 100%;
			border-right: 1px solid $light_highlight;
			z-index: 2;
	
			.time_box {
				background-color: inherit;
				transform: translateX(-50%);
				display: flex;
				justify-content: center;
				align-items: center;

				div {
					width: 1em;
					height: 1em;
					display: block;
					display: flex;
					justify-content: center;
					align-items: center;

					.small_frame {
						border: 1px solid $dark;
						width: 2em;
						height: 2em;
						display: flex;
						justify-content: center;
						align-items: center;
					}

					.med_frame {
						border: 1px solid $dark;
						width: 3em;
						height: 3em;
						display: flex;
						justify-content: center;
						align-items: center;
					}

					.large_frame {
						border: 1px solid $dark;
						width: 5em;
						height: 1.5em;
						display: flex;
						justify-content: center;
						align-items: center;
					}

				}
			}

			.time_box:hover {
				cursor: pointer;
			}
		}
	}
}

#c6 {
	display: none;
	min-height: 100vh;
	width: 100%;
	background-color: #fff;

	#about_me {
		min-height: 100%;
		
		.about_section {
			position: absolute;
			left: 30%;
			bottom: 30%;
		}
	}
}

#c7 {
	color: #fff;
	text-shadow: 1px 1px 3px $dark;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-image: url(../../images/pixels.png);

	h2 {
		font-size: 3em;
		font-weight: 700;
		width: 100%;
		padding: .5em 0;
	}

	h3 {
		font-size: 1em;
		font-weight: 200;
		width: 100%;
	}

	.business_card {
		margin: 2em;
		padding: 1em;
		width: 350px;
		height: 150px;
		background-color: #fff;
		box-shadow: 1px 1px 3px $dark;

		.qr_code {

		}

		.bc_name {

		}

		.bc_linkedin {

		}

		.bc_email {

		}
	}

	.contact_input {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;

		.contact_wrap {
			max-width: 800px;
			padding: 1em;
			margin: .5em;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			align-items: center;

			input { 
				width: 100%;
				background-color: rgba($dark, .5);
				border: none;
				margin: 4px 0;
				border: 1px solid $light_highlight;
				line-height: 1.2em;
				font-size: 1.2em;
				font-family: $font;
				padding: .5em 1em;
				color: #fff;
			}
		}
	}

	.locked_section {
		width: 100%;
		padding: 1em;
		margin-top: 1em;
		background-color: rgba($dark, .7);
		border-top: 2px solid $dark;

		span {
			display: block;
			font-size: 5em;
		}

		input {
			min-width: 200px;
			padding: .5em 1em;
		}

		div:last-child {
			width: 100%;
			display: flex;
			justify-content: center;

			div {
				width: 100px;
			}
		}

	}

	.input_button {
		background-color: rgba($dark, 0);
		border: 2px solid $light;
		padding: 1em;
		user-select: none;
		margin-top: 1em;
	}

	.input_button:active {
		transform: translateY(4px);
	}
}

//////////////////////////////////////////////////
// global
//////////////////////////////////////////////////

#user-activity-overview {
	display: none;
}

.block {
	display: block;
}

.side_menu {
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 5px 0 0 5px;
	color: #fff;

	.side_menu_item {		
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.2em;
		width: 1em;
		height: 1em;
		padding: .5em;
		user-select: none;
		border-radius: 5px 0 0 5px;
		margin: .5em 0 0 0;
		background-color: rgba($dark, .7);
		transition: transform .5s;
	}

	.info {
		display: none;
	}
}

.side_menu_item:hover{
	cursor: pointer;
}

.side_menu_item:active ion-icon {
	transform: translateY(4px);
}


//////////////////////////////////////////////////
// key frames
//////////////////////////////////////////////////


.bounce_small {
	animation-name: bounce_small;
	animation-timing-function: ease;
	animation: bounce_small .7s;
	animation-iteration-count: infinite;
}

@keyframes bounce_small {
	0%   { transform: translateY(0); }
	50%  { transform: translateY(-3px); }
	100% { transform: translateY(0); }
}

.spinning_slow {
	animation-name: spin;
	animation-timing-function: ease;
	animation: bounce_small 2s;
	animation-iteration-count: infinite;  
	animation-name: spin;
	animation-duration: 5000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear; 
	display: block;
}

.spinning_fast {
	animation-name: spin;
	animation-timing-function: ease;
	animation: bounce_small .5s;
	animation-iteration-count: infinite;  
	animation-name: spin;
	animation-duration: 5000ms;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
	display: block;
}


.spinning_odd_1 {
	animation-name: spin;
	animation-timing-function: ease;
	animation: bounce_small .5s;
	animation-iteration-count: infinite;  
	animation-name: spin;
	animation-duration: 5000ms;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
	display: block;
}


.spinning_odd_2 {
	animation-name: spin;
	animation-timing-function: ease;
	animation: bounce_small .5s;
	animation-iteration-count: infinite;  
	animation-name: spin;
	animation-duration: 5000ms;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
	display: block;
}

.spinning_super_slow {
	animation-name: spin;
	animation-timing-function: ease;
	animation: bounce_small 5s;
	animation-iteration-count: infinite;  
	animation-name: spin;
	animation-duration: 5000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear; 
	display: block;
}

.spinning_super_odd_3 {
	animation-name: spin;
	animation-timing-function: ease;
	animation: bounce_small 5s;
	animation-iteration-count: infinite;  
	animation-name: spin;
	animation-duration: 5000ms;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); 
	display: block;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.col-2,
.col-4,
.col-6,
.col-12 {
	display: none;
}

////////////
// social media icons
////////////

.social_wrap {
	position: absolute;
	left: -60px;
	bottom: 50%;
	transition: transform 1s;

	.social {
		color: #fff;
		width: 100px;
		height: 1em;
		padding: .2em .5em;
		font-size: 2em;
		text-align: end;
		transition: transform .3s, border-radius .3s;
	}
	
	.social_mail {
		background-color: $light;
		color: $dark;
	}

	.social_link {
		background-color: #f39c12;
	}

	.social_github {
		background-color: $success_highlight;
	}
	
	.social_linkedin {
		background-color: $blue;
	}
	
	.social_codepen {
		background-color: $dark;
	}

	.social:hover {
		transform: translateX(50px);
		border-radius: 0 5px 5px 0;
	}

	.social:active ion-icon{
		transform: translateY(4px);
	}
}

////////////
// toast
////////////

#toast {
	user-select: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba($dark, .5);
	justify-content: center;
	align-items: center;
	display: none;
	z-index: 9998;
}

#toast_data {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 80vw;
	max-width: 1080px;
	height: 70vh;
	min-height: 70vh;
	padding: 1em;
	background-color: #fff;
	display: none;
	outline: 8px solid #fff;
	outline-offset: 1em;
	z-index: 9999;

	.close_button {
		user-select: none;
		position: absolute;
		top: .5em;
		right: .5em;
		width: 1em;
		height: 1em;
		font-size: 2em;
		color: $dark;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: transform 1s;
	}

	.close_button:hover {
		cursor: pointer;
	}

	.close_button:active {
		transform: translateY(4px);
	}
}

.tooltip {
	position: relative;
	display: inline-block;
  }
  
  .tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
  }

////////////
// hide will always be the most bottom item.
////////////

.__hide {
	display: none;
}